* {
    box-sizing: border-box;
  }

body {
    background-color: beige;
    }

header {
        background-image:url(./Multimedia/multimedia/images/priroda/more/beach-clouds.jpg) ;
        background-repeat: repeat-y;
        background-position: center;
        text-align: center;
        padding: 60px;
        }

label {
    display: block;
}

h1{
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

  h1, h2 {
    color: brown;
    text-decoration: underline;
   }

  #kontakt {
   text-align: center;
   border: 5px solid brown;
   display: inline-block;
   border-radius: 3em;
   padding: 1em;
   }

[href] {
    font-size: x-large;
    font-style: italic;
    color: brown;
    background-color: blanchedalmond;
    }

[id~=bijeli] {
font-style: italic;
}

img{
    border-radius: 3em;
}

.dropdown{
    display: inline-block;
    }

.dropdown-content {
    display:none;
    position:relative;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }





